<div ng-show="internalServiceDetailsVM.loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>

<div class="serviceDetails">
    <div class="serviceControls" sticky sticky-class="stickied">
        <h2 class="serviceTitle">
            <health-icon ng-if="internalServiceDetailsVM.service.model.Startup" 
                         data-status="internalServiceDetailsVM.service.status" 
                         style="display: inline-block; font-size: 0.6em;"></health-icon>
            {{internalServiceDetailsVM.service.model.Name}}
            <span class="version" ng-show="internalServiceDetailsVM.service.model.Version">
                (v{{internalServiceDetailsVM.service.model.Version}})</span>
        </h2>
        <div class="serviceBoxGradient"></div>
    </div>
    <div class="serviceDescription">
        {{internalServiceDetailsVM.service.model.Description}}
    </div>
</div>

    <!-- Instances -->
    <div>
        <h3 class="pull-left" translate>running_tbl_instances</h3>
        <table jelly-table data-data="currentService.instances" data-config="internalServiceDetailsVM.instanceTable" class="table">
            <tr ng-repeat="instance in $data" data-id="{{instance.id}}.{{instance.model.InstanceID}}">
                <td data-title="'running_tbl_instance_id'|translate" sortable="'instance.model.InstanceID'">{{instance.model.InstanceID}}</td>
                <td data-title="'label_service_status'|translate">
                    <span class="svcstate {{instance.model.CurrentState}}" translate>{{instance.model.CurrentState}}</span>
                </td>
                <td data-title="'label_service_health'|translate" sortable="'status.status'" style="text-align:center;">
                    <health-icon data-status="instance.status"></health-icon>
                </td>
                <td data-title="'host'|translate" sortable="'getHostName(instance.model.HostID)'" ng-click="clickHost(instance.model.HostID)" class="link">{{getHostName(instance.model.HostID)}}</td>
            </tr>
        </table>
    </div>

    <br>

<graph-panel
    ng-if="internalServiceDetailsVM.service.model.MonitoringProfile.GraphConfigs.length > 0"
    data-service-id="internalServiceDetailsVM.service.id"
    data-graph-configs="internalServiceDetailsVM.service.model.MonitoringProfile.GraphConfigs"
    class="infoWrapper graphPanel">
</graph-panel>
